body, html
{
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
    background-color:#1A1E21;
    font-family:Helvetica;
}
.mainmenu
{
    height:20vh;
    width:100%;
	background-color:#1A1E21;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
.mainMenuContent
{
    width:35%;
    text-align:center;
    margin-left:10%;
}
.panelfirst
{
    width:100%;
    height:100vh;
    color:white;
    background-color:black;
    background: url(Content/server_room.jpg) no-repeat center center fixed;
    background-size: cover;
    -o-background-size: cover;
}
.tablet 
{
    width: 40%;
    margin: auto auto auto auto;
}
.tabletContent
{
    width:100%;
    height:100%;
    padding:10% 20% 10% 20%;
    color:gray;
    text-align:justify;
}
.tabletContent h1
{
    padding: 10px 0px 30px 0px;
    margin: 10px auto 10px auto;
}
.greenText
{
    color: #60a917;
    font-weight: bold;
}
.centerFrame
{
    padding: 30px 0px 20px 0px;
    text-align:center;
    width:100%;
}
.stepOneContainer
{
    width:100%;
    height:100vh;
    background-color:white;
}
.mainBlocks
{
    width:100%;
    height:800px;
    background-color:gray;
    text-align:center;
}
.mainBlocksTitle
{
    width:100%;
    height:100px;
    background-color:#807070;
}
.mainBlocksContent
{
    width:100%;
    height:100px;
    background-color:#90A0A0;
}
.maintext
{
    padding-top:20%;
    color:white;
    font-size:52px;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    width:1200px;
    text-align:center;
}

@media screen and (max-width: 800px) {
    .maintext {
        width: 600px;
        font-size:18px;
    }
}

@media screen and (max-width: 400px) {
    .maintext {
        width: 200px;
        font-size:16px;
    }
}

.subtext
{
    color:white;
    font-size:25px;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    width:1200px;
    text-align:center;
}
.mainLogo
{
	height:70px;
	width:auto;
	padding: 18px 0 16px 26px;
}
.column1
{
	width:100%;
	height:100%;
	float:left;
}
.column2
{
    padding: 50vh 0px 0px 5%;
	width:50%;
	height:100%;
	float:left;
}
.column3
{
	width:32%;
	float:left;
    display:inline-block;
}
.column4
{
    padding: 50vh 0px 0px 5%;
	width:25%;
	height:100%;
	float:left;
}
.column3-4
{
    padding: 50vh 0px 0px 5%;
	width:75%;
	height:100%;
	float:left;
}
.copyright
{
    color:white;
	width:100%;
    height:5vh;
	background-color:#363F47;
	text-align:center;
    border-top:solid;
    border-width:1px;
    border-color: #4D555C;
}
.copyrightText
{
    line-height: 5vh;
}
.contact {
    font-size: 22px;
    color: white;
    height: 95vh;
    width: 100%;
    background: url('../contact.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
}
.contact h3
{
    color:white;
}
.form-table
{
    background-color:#363F47;
}
.row-form
{
    border-width:1px;
    border-style:solid;
    border-color: #4D555C;
    width:95%;
    font-size:14px;
    display:inline-block;
    background-color:#363F47;
    margin: 1% 0% 1% 0%;
}
.text-label
{
    height:100%;
    width:100%;
    margin: 0px 0px 0px 4px;
}
.text-input
{
    background-color:#363F47;
    border-style:solid;
    color:white;
    height:100%;
    color:white;
    border-color: #363F47;
    overflow:hidden;
    width:100%;
}
.text-input :focus
{
    border-color: #4D555C;
}
.wiadomosc
{
    background-color:#363F47;
    border-style:solid;
    color:white;
    height:100%;
    color:white;
    border-color: #363F47;
    margin-top:-2px;
    overflow:hidden;
    display:inline;
    float:left;
    margin:0px 0px 0px 0px;
    overflow:hidden;
    resize:none;
    width:100%;
}

.right
{
    float:right;
}

.systemBox
{
    width:94%;
    height:50%;
    border: 1px solid #363F47;
    margin: 0px 1% 0px 1%;
}

.backgroundSystems {
    background: url('../systems.jpg') no-repeat center center fixed;
    background-size: cover;
    -o-background-size: cover;
}

.FillHorizontal
{
     height:100%;
}

.white
{
    color:white;
}