body, html
{
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
    background-color:#1A1E21;
    font-family:Helvetica;
}
.mainmenu
{
    height:20vh;
    width:100%;
	background-color:#1A1E21;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
.mainMenuContent
{
    width:35%;
    text-align:center;
    margin-left:10%;
}
.panelfirst
{
    width:100%;
    height:100vh;
    color:white;
    background-color:black;
    background: url(Content/server_room.jpg) no-repeat center center fixed;
    background-size: cover;
    -o-background-size: cover;
}
.mainBlocks
{
    width:100%;
    height:800px;
    background-color:gray;
    text-align:center;
}
.mainBlocksTitle
{
    width:100%;
    height:100px;
    background-color:#807070;
}
.mainBlocksContent
{
    width:100%;
    height:100px;
    background-color:#90A0A0;
}
.maintext
{
    padding-top:20%;
    color:white;
    font-size:50px;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    width:1200px;
    text-align:center;
}
.subtext
{
    color:white;
    font-size:25px;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    width:1200px;
    text-align:center;
}
.mainLogo
{
	height:70px;
	width:auto;
	padding: 18px 0 16px 26px;
}
.column4
{
	width:25%;
	height:100%;
	float:left;
}
.copyright
{
	height:100px;
	width:100%;
	background-color:#5c5b5b;
	text-align:center;
}
.copyrightText
{
	width:auto;
	height:auto;
	padding:20px 0 20px 0;
	margin: auto 50% auto 50%;
	white-space: nowrap;
}
.contact
{
	height:250px;
	width:100%;
}