body 
{
    width:100%;
    height:100%;
}
html
{
    width:100%;
    height:100%;
}
panelfirst
{
    width:100%;
    height:100%;

    background-color:black;
    background: url(Content/server_room.jpg) no-repeat center center fixed;
    background-size: cover;
    -o-background-size: cover;
}
maintext
{
    color:white;
    font-size:large;
    font-family:Calibri;

}