<div class="main">
    <div class="mainMenu">
        <div class="mainMenuContent">
            <img class="mainLogo" src="~/Content/Logo1.png" />
        </div>
    </div>
        <div id="myslider0" class="juicyslider">
            <ul>
                <li><img src="~/Content/laptop.jpg" alt=""></li>
                <li><img src="~/Content/server-room2.jpg" alt=""></li>
                <li><img src="~/Content/road.jpg" alt=""></li>
                <li><img src="~/Content/server_room.jpg" alt=""></li>
                
            </ul>
            <div class="maintext">
                IT szyte na miarę - przyśpiesz działanie swojej firmy!
            </div>
            <div class="subtext">
                Zaufaj nam a osiągniesz wiecej.
                <br />
                <div onclick="$('#stepOneContainer').goTo();" class="button success large" style="margin-top:10px;">Dowiedz się więcej</div>
            </div>
        </div>
    <div class="stepOneContainer" id="stepOneContainer">
        <div class="tablet" id="tablet">
            <div class="grid fluid">
                <div class="row">
                    <div class="span12">
                <h1>Co możemy dla Ciebie zrobić?</h1>
                <h2>1.Doradztwo IT</h2>
                Spotkamy sie u <span class="greenText">Ciebie</span> sprawdzając gdzie narzędzia IT mogą przynieść Ci największą korzyść. Wspólnie analizujemy Twoje problemy i szyjemy na miarę cyfrowe rozwiązanie. Wszystko to dopasowane do Twoich finansów i oczekiwań.
    <h2>2.Przygotowanie rozwiązania</h2>
    Każdy problem jest inny i wymaga indywidualnego podejścia. <span class="greenText">30 dni</span> - tylko tyle potrzebujemy, byś zobaczył realną <span class="greenText">korzyść</span>. Tylko tyle zajmie nam przygotowanie narzędzia, które przyśpieszy codzienną pracę Twojej firmy.
    <h2>3.Wdrożenie i korzyści dla Ciebie</h2>
    Uruchmaiamy rozwiązanie w Twoim środowisku. Następnie wspólnie, przez <span class="greenText">30 dni</span> monitorujemy i ulepszamy nasz produkt, by spełnić Twoje oczekiwania.
                <br />
                <div class="centerFrame">
                    <div onclick="$('#contact').goTo();" class="button success large">Skontaktuj się z nami już teraz <i class="icon-mail"></i></div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
    <div class="stepOneContainer" id="stepOneContainer">
        <div class="column1 backgroundSystems FillHorizontal">
            <div class="centerFrame">
                <h1 class="white">W każdej firmie jest miejsce na wsparcie IT...</h1>
                <div class="column1 white">Inwestycja w system informatyczny może zwrócić się już po kilku tygodniach.</div>
                <div class="centerFrame">
                    <div class="grid fluid">
                        <div class="row">
                            <div class="span10 offset1">
                                <div class="row">
                                    <div class="span3">
                                        <div class="tile triple">
                                            <img src="~/Content/appbar.page.png" />
                                            <div class="brand bg-dark opacity"><span class="label">Generatory dokumentów</span></div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="tile triple">
                                            <!--<div class="overlay-fluid">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>-->
                                            <img src="~/Content/appbar.email.minimal.png" />
                                            <div class="brand bg-dark opacity"><span class="label">Systemy mailingowe</span></div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="tile triple">
                                            <img src="~/Content/appbar.list.gear.png" />
                                            <div class="brand bg-dark opacity"><span class="label">Systemy workflow</span></div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="tile triple">
                                            <img src="~/Content/appbar.potion.png" />
                                            <div class="brand bg-dark opacity"><span class="label">Automatyzacja testów</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span3">
                                        <div class="tile triple">
                                            <img src="~/Content/appbar.globe.png" />
                                            <div class="brand bg-dark opacity"><span class="label">Strony internetowe</span></div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="tile triple">
                                            <img src="~/Content/appbar.share.png" />
                                            <div class="brand bg-dark opacity"><span class="label">Automatyzacja UI</span></div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="tile triple">
                                            <img src="~/Content/appbar.browser.wire.png" />
                                            <div class="brand bg-dark opacity"><span class="label">Rozwiązania webservice</span></div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="tile triple">
                                            <img src="~/Content/appbar.shopping.png" />
                                            <div class="brand bg-dark opacity"><span class="label">Uruchomienie sklepu internetowego</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span3">
                                        <div class="tile triple">
                                            <img src="~/Content/appbar.list.check.png" />
                                            <div class="brand bg-dark opacity"><span class="label">Systemy zadaniowe</span></div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="tile triple">
                                            <img src="~/content/appbar.windowsphone.png" />
                                            <div class="brand bg-dark opacity"><span class="label">Rozwiązania mobilne</span></div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="tile triple">
                                            <img src="~/Content/appbar.database.sql.png" />
                                            <div class="brand bg-dark opacity"><span class="label">Bazy danych</span></div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="tile triple">
                                            <img src="~/Content/appbar.stock.up.png" />
                                            <div class="brand bg-dark opacity"><span class="label">Wizualizacja danych</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
    <div id="contact" class="contact">
        <div class="column2"><h3>KONTAKT</h3><i class="icon-mobile-2"></i> 509-040-670<br /><i class="icon-mail"></i> kontakt@foxteca.pl</div>
        <div class="column2">
            <h3>FORMULARZ KONTAKTOWY</h3>
            <div class="column3">
                <div class="row-form">
                    <div><label class="text-label">Imię</label><span><input class="text-input" type="text" /></span></div>
                </div>
                <div class="row-form">
                    <div><label class="text-label">Nazwisko</label><input class="text-input" type="text" /></div>
                </div>
                <div class="row-form">
                    <div><label class="text-label">Email</label><input class="text-input" type="text" /></div>
                </div>
                <div class="row-form">
                    <div><label class="text-label">Telefon</label><input class="text-input" type="text" /></div>
                </div>
            </div>
            <div class="column3">
                <div class="row-form right">
                    <div><label class="text-label">Wiadomość</label><textarea class="wiadomosc" rows="10"></textarea></div>
                </div>
                <input type="submit" value="Prześlij formularz" class="button success large right">
            </div>

        </div>
    </div>
        <div class="copyright">
            <div class="copyrightText">Foxteca © 2014</div>
        </div>
</div>
