<link rel="stylesheet" type="text/css" href="Main.css"/>
<div class="mainMenu">
</div>
<div class="panelfirst">
    PanelFirst
    <div class="maintext">
        Make developmen easier...
    </div>
</div>
<div class="mainBlocks">

    <div class="mainBlockTitle"></div>
        <div class="mainBlockContent">
            <div class="oneBlock">
                <div class="oneBlockTitle">Block title</div>
                <div class="oneBlockContent">Block content</div>
            </div>
            <div class="oneBlock">
                <div class="oneBlockTitle">Block title</div>
                <div class="oneBlockContent">Block content</div>
            </div>
    </div>
    blocks
</div>
