<div class="main">
    <div class="mainMenu">
        <div class="mainMenuContent">
            <img class="mainLogo" src="~/Content/Logo1.png" />
        </div>
    </div>
        <div id="myslider0" class="juicyslider">
            <ul>
                <li><img src="~/Content/laptop.jpg" alt=""></li>
                <li><img src="~/Content/server-room2.jpg" alt=""></li>
                <li><img src="~/Content/road.jpg" alt=""></li>
                <li><img src="~/Content/server_room.jpg" alt=""></li>
                
            </ul>
            <div class="maintext">
                Przyśpiesz działanie swojej firmy!
            </div>
            <div class="subtext">
                Zaufaj nam a osiągniesz wiecej.
                <br />
                <div onclick="$('#mainBlocks').goTo();" class="button success large" style="margin-top:10px;">Dowiedz się więcej</div>
            </div>
        </div>

    <div class="mainBlocks" id="mainBlocks">

        <div class="mainBlockTitle"></div>
        <div class="mainBlockContent">
            <div class="oneBlock">
                <div class="oneBlockTitle">Block title</div>
                <div class="oneBlockContent">Block content</div>
            </div>
            <div class="oneBlock">
                <div class="oneBlockTitle">Block title</div>
                <div class="oneBlockContent">Block content</div>
            </div>
        </div>
        blocks
    </div>

    <div class="contact">
        <div class="column4"></div>
        <div class="column4"></div>
        <div class="column4"></div>
        <div class="column4"><h4>KONTAKT:</h4>509040670</div>
        </div>
        <div class="copyright">
            <div class="copyrightText">Foxteca © 2014</div>
        </div>
</div>
