<div class="mainMenu">
    <img class="mainLogo" src="~/Content/Logo1.png"/>
</div>
<div id="myslider0" class="juicyslider">
    <ul>
        <li><img src="~/Content/server_room.jpg" alt=""></li>
        <li><img src="~/Content/server-room2.jpg" alt=""></li>
    </ul>
    <div class="maintext">
        Make developmen easier...
    </div>
</div>
<div class="mainBlocks">

    <div class="mainBlockTitle"></div>
        <div class="mainBlockContent">
            <div class="oneBlock">
                <div class="oneBlockTitle">Block title</div>
                <div class="oneBlockContent">Block content</div>
            </div>
            <div class="oneBlock">
                <div class="oneBlockTitle">Block title</div>
                <div class="oneBlockContent">Block content</div>
            </div>
    </div>
    blocks
</div>
<div class="contact">
<div class="column4"></div>
<div class="column4"></div>
<div class="column4"></div>
<div class="column4"><h4>KONTAKT:</h4>509040670</div>
</div>
<div class="copyright">
    <div class="copyrightText">Foxteca © 2014</div>
</div>
