
    <div class="mainMenu">
        <div class="mainMenuContent">
            <img class="mainLogo" src="~/Content/Logo1.png" />
        </div>
    </div>
        <div id="myslider0" class="juicyslider">
            <ul>
                <li><img src="~/Content/laptop.jpg" alt=""></li>
                <li><img src="~/Content/server-room2.jpg" alt=""></li>
                <li><img src="~/Content/road.jpg" alt=""></li>
                <li><img src="~/Content/server_room.jpg" alt=""></li>
                
            </ul>
            <div class="maintext">
                IT szyte na miarę - przyśpiesz działanie swojej firmy!
            </div>
            <div class="subtext padding10">
                Zaufaj nam a osiągniesz wiecej.
                <br />
                <div onclick="$('#stepOneContainer').goTo();" class="button success padding10" style="margin-top:10px;">Dowiedz się więcej</div>
            </div>
        </div>
    <div class="stepOneContainer" id="stepOneContainer">
            <div class="grid">
                <div class="row cells5">
                    <div class="cell"></div>
                    <div class="cell colspan3">
                <h1 class="align-center padding40">Co możemy dla Ciebie zrobić?</h1>
                <h3>1.Doradztwo IT</h3>
                Spotkamy sie u <span class="greenText">Ciebie</span> sprawdzając gdzie narzędzia IT mogą przynieść Ci największą korzyść. Wspólnie analizujemy Twoje problemy i szyjemy na miarę cyfrowe rozwiązanie. Wszystko to dopasowane do Twoich finansów i oczekiwań.
    <h3>2.Przygotowanie rozwiązania</h3>
    Każdy problem jest inny i wymaga indywidualnego podejścia. <span class="greenText">30 dni</span> - tylko tyle potrzebujemy, byś zobaczył realną <span class="greenText">korzyść</span>. Tylko tyle zajmie nam przygotowanie narzędzia, które przyśpieszy codzienną pracę Twojej firmy.
    <h3>3.Wdrożenie i korzyści dla Ciebie</h3>
    Uruchmaiamy rozwiązanie w Twoim środowisku. Następnie wspólnie, przez <span class="greenText">30 dni</span> monitorujemy i ulepszamy nasz produkt, by spełnić Twoje oczekiwania.
                <br />
                <div class="centerFrame">
                    <div onclick="$('#contact').goTo();" class="button success large">Skontaktuj się z nami już teraz <i class="icon-mail"></i></div>
                </div>
            </div>
                    <div class="cell"></div>
        </div>
    </div>
    </div>
    <div class="stepOneContainer" id="stepOneContainer">
        <div class="backgroundSystems FillHorizontal">
            <div class="align-center">
                <h1 class="padding30 text-bold">W każdej firmie jest miejsce na wsparcie IT...</h1>
                <h4 class="text-bold">Inwestycja w system informatyczny może zwrócić się już po kilku tygodniach.</h4>
                        <div class="tileRow">
                            <div class="centerContent">
                                <div class="tile-wide">
                                    <div class="tile-content slide-up-2">
                                        <div class="slide">
                                            <img class="padding20" src="~/Content/appbar.page.png" data-role="fitImage" data-format="square" />
                                        </div>
                                        <div class="slide-over bg-gray text-bold white padding10 align-center">
                                            Generuj dokumenty, które teraz przygotowujesz ręcznie...
                                        </div>
                                        <div class="tile-label text-bold">Generatory dokumentów</div>
                                    </div>
                                </div>
                                <div class="tile-wide">
                                    <div class="tile-content slide-right-2">
                                        <div class="slide">
                                            <img class="padding20" src="~/Content/appbar.email.minimal.png" data-role="fitImage" data-format="square" />
                                        </div>
                                        <div class="slide-over bg-gray text-bold white padding10 align-center">
                                            Chcę masowo wysyłać korespondecję elektroniczną lub smsy do moich klientów...
                                        </div>
                                        <div class="tile-label text-bold">Systemy mailingowe</div>
                                    </div>
                                </div>
                                <div class="tile-wide">
                                    <div class="tile-content slide-up-2">
                                        <div class="slide">
                                            <img class="padding20" src="~/Content/appbar.list.gear.png" data-role="fitImage" data-format="square" />
                                        </div>
                                        <div class="slide-over bg-gray text-bold white padding10 align-center">
                                            Potrzebuję systemu, który pozwoli mi zapanować nad przydzielaniem zadań lub obiegiem dokumentów w mojej firmie...
                                        </div>
                                        <div class="tile-label text-bold">Systemy workflow</div>
                                    </div>
                                </div>
                            </div class="centerContent">
                        </div>
                        <div class="tileRow">
                            <div class="centerContent">
                                <div class="tile-wide">
                                    <div class="tile-content slide-right-2">
                                        <div class="slide">
                                            <img class="padding20" src="~/Content/appbar.globe.png" data-role="fitImage" data-format="square" />
                                        </div>
                                        <div class="slide-over bg-gray text-bold white padding10 align-center">
                                            Chcę oryginalnie i skutecznie dotrzeć do klientów za pośrednictwem stron internetowych...
                                        </div>
                                        <div class="tile-label text-bold">Strony internetowe</div>
                                    </div>
                                </div>
                                <div class="tile-wide">
                                    <div class="tile-content slide-up-2">
                                        <div class="slide">
                                            <img class="padding20" src="~/Content/appbar.share.png" data-role="fitImage" data-format="square" />
                                        </div>
                                        <div class="slide-over bg-gray text-bold white padding10 align-center">
                                            Potrzebuję narzędzia, które odtworzy sposób pracy moich pracowników automatyzując powtarzalne czynności...
                                        </div>
                                        <div class="tile-label text-bold">Automatyzacja UI</div>
                                    </div>
                                </div>
                                <div class="tile-wide">
                                    <div class="tile-content slide-left-2">
                                        <div class="slide">
                                            <img class="padding20" src="~/Content/appbar.shopping.png" data-role="fitImage" data-format="square" />
                                        </div>
                                        <div class="slide-over bg-gray text-bold white padding10 align-center">
                                            Chcę zacząć sprzedawać w internecie...
                                        </div>
                                        <div class="tile-label text-bold">Sklepy internetowe</div>
                                    </div>
                                </div>
                            </div class="centerContent">
                        </div>
                        <div class="tileRow">
                            <div class="centerContent">
                                <div class="tile-wide">
                                    <div class="tile-content slide-down-2">
                                        <div class="slide">
                                            <img class="padding20" src="~/Content/appbar.list.check.png" data-role="fitImage" data-format="square" />
                                        </div>
                                        <div class="slide-over bg-gray text-bold white padding10 align-center">
                                            Chcę zacząć sprzedawać w internecie...
                                        </div>
                                        <div class="tile-label text-bold">Systemy zadaniowe</div>
                                    </div>
                                </div>
                                <div class="tile-wide">
                                    <div class="tile-content slide-up-2">
                                        <div class="slide">
                                            <img class="padding20" src="~/Content/appbar.stock.up.png" data-role="fitImage" data-format="square" />
                                        </div>
                                        <div class="slide-over bg-gray text-bold white padding10 align-center">
                                            Chcę przedstawić zbiór danych w atraktcyjny sposób za pośrednictwem aplikacji lub strony internetowej...
                                        </div>
                                        <div class="tile-label text-bold">Wizualizacja danych</div>
                                    </div>
                                </div>
                                <div class="tile-wide">
                                    <div class="tile-content slide-right-2">
                                        <div class="slide bg-lightGreen">
                                            <img class="padding20" src="~/Content/appbar.stock.up.png" data-role="fitImage" data-format="square" />
                                        </div>
                                        <div class="slide-over bg-gray text-bold white padding10 align-center">
                                            Mam pomysł na własny system i chcę go zrealizować!
                                        </div>
                                        <div class="tile-label text-bold white">Inny system</div>
                                    </div>
                                </div>
                            </div class="centerContent">
                        </div>
                    </div>
                </div>
            </div>
    <div id="contact" class="contact">

        <h1 class="white align-center padding20">Skontaktuj się z nami</h1>
        
        <div class="grid">
            <div class="row cells7">
                <div class="cell"></div>
                <div class="cell colspan2">
                    <h3>Zadzwoń do nas</h3>
                    <i class="icon-mobile-2"></i> 
                    509-040-670
                    <br /><i class="icon-mail"></i> kontakt@foxteca.pl
                </div>
                <div class="cell colspan3">
                    <h3>Napisz do nas</h3>

                    <div class="white">
                        <div><label class="text-label">Imię</label><span><input class="text-input" type="text" /></span></div>
                    </div>
                    <div class="white">
                        <div><label class="text-label">Nazwisko</label><input class="text-input" type="text" /></div>
                    </div>
                    <div class="white">
                        <div><label class="text-label">Email</label><input class="text-input" type="text" /></div>
                    </div>
                    <div class="white">
                        <div><label class="text-label">Telefon</label><input class="text-input" type="text" /></div>
                    </div>

                    <div class="white">
                        <div><label class="text-label">Wiadomość</label><textarea class="wiadomosc" rows="6"></textarea></div>
                    </div>
                    <input type="submit" value="Prześlij formularz" class="button success large">
                </div>
                <div class="cell"></div>
            </div>
            </div>

        </div>

