<div class="main">
    <div class="mainMenu">
        <div class="mainMenuContent">
            <img class="mainLogo" src="~/Content/Logo1.png" />
        </div>
    </div>
        <div id="myslider0" class="juicyslider">
            <ul>
                <li><img src="~/Content/laptop.jpg" alt=""></li>
                <li><img src="~/Content/server-room2.jpg" alt=""></li>
                <li><img src="~/Content/road.jpg" alt=""></li>
                <li><img src="~/Content/server_room.jpg" alt=""></li>
                
            </ul>
            <div class="maintext">
                IT szyte na miarę - przyśpiesz działanie swojej firmy!
            </div>
            <div class="subtext">
                Zaufaj nam a osiągniesz wiecej.
                <br />
                <div onclick="$('#stepOneContainer').goTo();" class="button success large" style="margin-top:10px;">Dowiedz się więcej</div>
            </div>
        </div>
    <div class="stepOneContainer" id="stepOneContainer">
        <div class="tablet" id="tablet">
            
            <div class="tabletContent">
                <h1>Co możemy dla Ciebie zrobić?</h1>
                <h2>1.Doradztwo IT</h2>
                Spotkamy sie u <span class="greenText">Ciebie</span> sprawdzając gdzie narzędzia IT mogą przynieść Ci największą korzyść. Wspólnie analizujemy Twoje problemy i szyjemy na miarę cyfrowe rozwiązanie. Wszystko to dopasowane do Twoich finansów i oczekiwań.
    <h2>2.Przygotowanie rozwiązania</h2>
    Każdy problem jest inny i wymaga indywidualnego podejścia. <span class="greenText">30 dni</span> - tylko tyle potrzebujemy, byś zobaczył realną <span class="greenText">korzyść</span> Tylko tyle zajmie nam przygotowanie narzędzia, które przyśpieszy codzienną pracę Twojej firmy.
    <h2>3.Wdrożenie i korzyści dla Ciebie</h2>
    Uruchmaiamy rozwiązanie w Twoim środowisku. Następnie wspólnie, przez <span class="greenText">30 dni</span> monitorujemy i ulepszamy nasz produkt, by spełnić Twoje oczekiwania.
                <br />
                <div class="centerFrame">
                    <div onclick="$('#stepOneContainer').goTo();" class="button success large">Skontaktuj się z nami już teraz <i class="icon-mail"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainBlocks" id="mainBlocks" style="visibility:hidden;">

        <div class="mainBlockTitle"></div>
        <div class="mainBlockContent">
            <div class="oneBlock">
                <div class="oneBlockTitle">Block title</div>
                <div class="oneBlockContent">Block content</div>
            </div>
            <div class="oneBlock">
                <div class="oneBlockTitle">Block title</div>
                <div class="oneBlockContent">Block content</div>
            </div>
        </div>
        blocks
    </div>

    <div class="contact">
        <div class="column4">
            <table class="form-table">
                <tr>
                    <td>Imię</td>
                    <td><input class="text-input" type="text" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Nazwisko</td>
                    <td><input class="text-input" type="text" /></td>
                    <td></td>
                </tr>
            </table>
       
        </div>
        <div class="column4"></div>
        <div class="column4"></div>
        <div class="column4"><h3>KONTAKT</h3><i class="icon-mobile-2"></i> 509-040-670<br /><i class="icon-mail"></i> kontakt@foxteca.pl</div>
        </div>
        <div class="copyright">
            <div class="copyrightText">Foxteca © 2014</div>
        </div>
</div>
